* {
    box-sizing: border-box;
}
body {
    background: #D7FFF1;
    font-family: "Comic Sans MS", cursive, sans-serif;
    height: 1000px;
}
..navbar>.container-fluid{
    border-radius: 0px;
    padding-bottom: 0;
  }
nav .navbar-brand {
    font-size: 30px;
}
.nav-clr:hover {
    background-color: #77AF9C;
}
.container h1 {
    font-weight: bold;
    margin: 30px;
    color: #285943;
}
.container .row .ffd {
    background-color: #8CD790;
    margin: 20px;
    padding: 20px;
    border: 1px solid #000;
}
.container .row .ffd h3 {
    font-weight: bold;
}
nav div hr {
    color: #77AF9C;
    margin: 0;
    padding: 0;
    border: 0;
}
